button {
  background: rgb(79, 98, 148);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  background: rgb(79, 98, 148);
  display: block;

  margin-top: 40px;

  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

button:hover {
  background: rgb(21, 54, 138);
  transition: 1s all;
  transform: translateY(4px);
  border: 1px solid transparent;
  opacity: 0.8;
}

body {
  margin: 0 20px;
}

ul.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;

  border: 1px solid white;
  padding: 20px 0;
}

li.pokemon {
  margin: 10px;
}

li.name {
  font-size: 50px;
  font-weight: bold;
  padding: 10px 0;
  letter-spacing: 5px;
}
